<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница :)</h1>

    {{if eq .Name "Kudryavcev Kirill"}}
    <span>Привет пользователь!</span>
    {{else}}
    <span>Пользователь не обнаружен :(</span>
    {{end}}

    <p>Пользователь: {{.Name}}</p>
    <p>Возраст пользователя: {{.Age}}</p>
    <p>Количество денег на счету пользователя: {{.Money}}</p>
</body>
</html>